/* --------------------------------------------- */
/* COLORS
/* --------------------------------------------- */

$test: #aaa333;


/* --------------------------------------------- */
/* FONTS
/* --------------------------------------------- */

$arial: Arial, Helvetica, sans-serif;

/* --------------------------------------------- */
/* MIXIN
/* --------------------------------------------- */

html {
    font-size: 62.5%;
}

@mixin font-size($size) {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
}
